*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 1100px;
    z-index:100;
    overflow-x: hidden;
    background-color: bisque;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1160px;
    height: 80px;
    margin-top: 18px;
    margin-bottom: -15px;
}
.header img{
    margin:0;
    margin-left: 170px;
}
.header i{
    margin-left:500px;
    margin-top:15px;
}
#option1 button,#option2 button,#option3 button,#option4 button,#option5 button,#option6 button,#option7 button{
    padding:5px;
    background-color:greenyellow;
    border: 0;
    border-radius: 3px;
    color:black;
    font-weight: bold;
}
.book{
    padding:5px;
    background-color:rgb(5, 219, 5);
    
    border-radius: 5px;
    box-shadow: 1px 2px 2px black;
    font-weight: bold;
    opacity: 0.7;
    margin-left:-870px;
    font-size: 25px;
    margin-top:20px;
    border-style: solid;
}
.book:hover{
    background-color: white;
    color:green;
}
.pet{
    margin-left:-800px;
    font-size:35px;
    color:rgb(206, 57, 57);
    font-family: sans-serif;
}
span{
    font-size: 45px;
    color:black;
}
.front1 p{
    margin-left:-610px;
    width:500px;
    font-family: sans-serif;
    font-size: 20px;
    margin-top:10px;
    opacity: 0.7;
}
.front1 h4{
    margin-left:-850px;
    margin-top:50px;
}
